@font-face{
    font-family: "dogicapixel";
    src: url("./src/font/pixelFont/dogicapixel-webfont.woff");
    }

:root{
    --tileSize:0px
}

*{
    margin: 0;
    padding: 0;
    font-family: "dogicapixel";
    image-rendering: pixelated;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: black;
}

canvas{
    display: block;
    position: fixed;
}

.canvasScreen{
    background-image: url('./src/images/background.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}

.canvasMenu{
    background-color: rgb(61, 63, 65);
}

.mainMenu{
    position: fixed;
    z-index: 10001;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 34, 36, 1);    
    color: white;
    text-align: center;
}

.mainMenu img{
    border-radius: 33%;
}

.mainMenu button{
    background-color: rgb(105, 102, 96);
    padding: 6px;
    color: white;
    width: 50%;
}

.disable{
    display: none;
}

.buttonsTile{
    background-size : cover;
    background-repeat : no-repeat;
    background-color : rgba(155, 162, 177, 0.1);
}

.buttonContainer{
    position: fixed;
    overflow: auto;
    background-color: #c5c5c53b;
    border-color: aliceblue !important;
}
