*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

canvas{
    display: block;
    background: #282828;
}

.score{
    position: fixed;
    color: white;
    margin: 12px;
    user-select: none;
}

.mainMenu{
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    align-items: center;
}

.scroreScreen{
    background-color: white;
    padding: 1.5rem;
    max-width: 28rem;
    width: 100%;
    text-align: center;
    user-select: none;
}

.scroreScreen button{
    background-color: rgb(77, 104, 228);
    border-radius: 9999px;
    padding: 6px;
    color: white;
    width: 100%;
    line-height: 1.25rem;
    border: none;
}

.disable{
    display: none;
}