@font-face {
  font-family: "dogicapixel";
  src: url("./src/font/pixelFont/dogicapixel-webfont.woff");
}

:root {
  --tileSize: 0px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "dogicapixel";
  image-rendering: pixelated;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
}

canvas {
  display: block;
  position: fixed;
}

.canvasMenu {
  background-color: rgb(61, 63, 65);
}

.mainMenu {
  position: fixed;
  z-index: 10001;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 34, 36, .1);
  color: white;
  text-align: center;
}
.mainMenu img {
  position: fixed;
}

.startBtn {
  background-image: url("../src/images/menuButtonStart.png");
}

.startBtnAsGod {
  background-image: url("../src/images/menuButtonStartAsGod.png");
}

.startBtn, .startBtnAsGod {
  background-color: rgba(255, 255, 255, .1);
  position: fixed;
  border: none;
  background-size: contain;
  color: white;
}

.disable {
  display: none;
}

.buttonsTile {
  background-size: cover;
  background-repeat: no-repeat;
}

.buttonContainer, .cardDescription {
  position: fixed;
  overflow: auto;
  background-color: #c5c5c53b;
}

.levelUpScreen {
  position: fixed;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
}

.actionButtons button{
  background-color: transparent;
  border: none;
}

.beforeInit {
  background-color: rgba(33, 34, 36, 1);
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100000;
}

.actionStatus {
  color: white;
  text-align: end;
  user-select: none;
  position: fixed;
}

.actionButtons {
  position: fixed;
}

.actionButtons button {
  position: fixed;
}

.actionButtons img {
  height: 100%;
}

.manaRessource, .levelText {
  position: fixed;
  color: white;
  text-align: left;
}

.gameOverScreen {
  background-color: rgba(33, 34, 36, 1);
  color: white;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.gameOverScreen button {
  background-color: rgb(105, 102, 96);
  padding: 6px;
  color: white;
  width: 50%;
  position: fixed;
  z-index: 2;
}

.gameOverScreen p {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
  z-index: 1;
}